*.pyc
main/untitled.ui
.venv/
__pycache__/
main/.idea/dbnavigator.xml
main/dashboard/storage/nichita.licov_study_data.json
storage/remember_database.db
main/UI/photo_2026-02-11_13-21-10 (2).jpg
main/photo_2026-02-11_13-21-10 (2).jpg
main/photo_2026-02-11_13-21-10 (3).jpg
main/photo_2026-02-11_13-21-10.jpg
main/UI/photo_2026-02-11_13-21-10 (3).jpg
main/UI/photo_2026-02-11_13-21-10.jpg
